<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buyvegetablestogether">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddCartDialog"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog"
            android:label="确定加购"/>
        <activity android:name=".DetailActivity" />
        <activity android:name=".BasicInfoActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="修改密码"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".addgoods.AddGoods"
            android:label="添加商品" />
        <activity android:name=".AllGoodsActivity" />
        <activity android:name=".SearchGoodsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.buyvegetablestogether.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>